body, nav, main {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    background-color: #764fed;
    padding: 30px 0;
    text-align: end; /* coloca os itens no final da pagina */
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* tira estilo de lista */
}

.menu ul li {
    display: inline-block;
    margin: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #f4f8f8;
    font-size: 20px;
    font-weight: bold;
}

.principal {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d8d0ee
}

#sobre {
    padding: 50px;
    max-width: 600px;
}

.minha-imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.titulo {
   color: #69066b; 
   font-size: 36px;
   font-weight: 700;
}

.subtitulo {
    font-size: 24px;
    font-weight: 700;
}

.primeiro-paragrafo {
    margin: auto;
    font-size: 16px;
    line-height: 22.4px;
    max-width: 500px;
    text-align: center;
}

/* Formacao */

#formacao {
    background-color: #ece6ff;
    padding: 30px 80px;
  }
  
.titulo_formacao {
    color: #7b247d;
    font-size: 30px;
    margin-bottom: 50px; 
}

.curso {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid #100505;
    padding-bottom: 20px; 
    margin-left: 150px; 
  }
  
.graduacao {
    margin-bottom: 60px;
    border: none;
    padding-bottom: 0;
  }
  
.curso-info h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
  }
  
.curso-info .descricao {
    font-size: 16px;
    color: #888;
    margin-top: 5px;
  }
  
.certificado {
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  /* Modal (imagem ampliada) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(4, 4, 4, 0.9);
}

.modal-conteudo {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
  box-shadow: 0 0 10px #b02020;
}

.fechar {
  position: absolute;
  top: 30px;
  right: 50px;
  color: rgb(66, 20, 20);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


/* Portfolio */

#portfolio {
    background-color:  #d8d0ee;
    padding: 30px 80px;
}

.titulo_portfolio {
    color: #7b247d;
    font-size: 30px;
}

.conteudo_portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_portfolio {
    width: 100%;
    max-width: 600px;
}

.info_portfolio h3 {
    color: #302e30;
    font-size: 18px;
}

#contato {
  padding: 40px 80px;
  background-color:  #ece6ff;
  text-align: center;
}

#contato h2 {
  font-size: 28px;
  color: #895de8;
  margin-bottom: 30px;
  font-weight: bold;
}

.formulario {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.campo label {
  margin-bottom: 6px;
  font-weight: 500;
}

input,
textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #0d0d0d;
  font-size: 16px;
  resize: none;
  outline: none;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #928af7;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
  background-color: #7b74e2;
}


#contatos {
    background-color: #764fed;
    padding: 38px;
    color: #000000;
}

.rodape_item span a {
    color: #09090a;
}

.rodape_item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.rodape_icon {
    width: 25px;
    margin-right: 10px;
}
